<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>

    <!--  Tailwind CSS  -->
    <link rel="stylesheet" href="../tailwind.css">

    <!--  Font Awesome  -->
    <link rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css' />

  </head>

  <body>

    <!--  Header  -->
    {{#if isAuthenticated}}
      <header
        class="h-16 w-full flex justify-between items-center px-16 bg-yellow-500 shadow-md">
        <a href="/"
          class="text-3xl font-extrabold text-gray-900 tracking-wide font-serif">Todo
          List</a>
        <div>
          <a href="/logout"
            class="appearance-none rounded-none block w-full px-3 py-2 border border-gray-300 text-gray-900 rounded-md hover:text-white hover:bg-yellow-600 hover:border-gray-500 focus:outline-none focus:border-gray-500 focus:z-10 ease-in-out duration-500 font-serif transition-colors tracking-wide sm:text-sm">Logout</a>
        </div>
      </header>
    {{/if}}

    <!--  Body  -->
    {{{ body }}}

  </body>

</html>
