<section
  class="min-h-screen flex items-center justify-center bg-gray-200 py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8">
    <div>
      <img class="mx-auto h-12 w-auto" src="../image/AC.png" alt="logo" />
      <h1
        class="mt-6 text-center text-3xl font-extrabold text-gray-900 tracking-wide font-serif">
        Login</h1>
    </div>
    {{> message}}
    <form action="/login" method="POST" class="mt-8 space-y-6">
      <div class="rounded-md shadow-sm -space-y-px">
        <div>
          <label for="email"
            class="block my-2 text-md font-medium font-serif cursor-pointer">Email</label>
          <input type="text" name="email" id="email" placeholder="email"
            class="appearance-none rounded-none block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-gray-500 focus:border-gray-500 focus:z-10 sm:text-sm font-serif">
        </div>
        <div>
          <label for="password"
            class="block my-2 text-md font-medium font-serif cursor-pointer">Password</label>
          <input type="password" name="password" id="password"
            placeholder="password"
            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:border-gray-500 focus:z-10 sm:text-sm font-serif">
        </div>
      </div>
      <div>
        <input type="submit" value="login"
          class="appearance-none w-full flex justify-center py-2 px-4 border border-transparent rounded-md text-sm font-medium text-white bg-gray-500 cursor-pointer hover:bg-gray-700 focus:outline-none ease-in-out duration-500 transition-colors font-serif">
        <div class="flex space-x-2 ">
          <a href="/auth/facebook"
            class="appearance-none block w-full flex justify-center py-2 px-4 mt-2 border border-transparent rounded-md text-sm font-medium text-white bg-blue-500 cursor-pointer hover:bg-blue-700 focus:outline-none ease-in-out duration-500 transition-colors font-serif">Facebook</a>
          <a href="/auth/google"
            class="appearance-none block w-full flex justify-center py-2 px-4 mt-2 border border-transparent rounded-md text-sm font-medium text-white bg-red-500 cursor-pointer hover:bg-red-700 focus:outline-none ease-in-out duration-500 transition-colors font-serif">Google</a>
        </div>
        <a href="/register"
          class="block my-3 text-center text-blue-700 text-sm font-medium font-serif">Register</a>
        <p class="mt-5 mb-3 text-center text-sm font-medium font-serif">
          &copy; 2021-2022
        </p>
      </div>
    </form>
  </div>
</section>
